@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Nexo</h1>
    <p>A system to register, edit, delete and update client, products and analyze the details of the market base.</p>
</div>
<div class="mt-lg-4">
    <ul>
        <li>Registered customers with more than 5 years are Silver clients</li>
        <li>Customers with 20 or more products are rank with the gold tier</li>
        <li>Customers with 50 or more products are rank with the platinum tier</li>
        <li>Customers with 20 or more products are rank with the diamond tier</li>
    </ul>
</div>
